<<<<<<< HEAD
@charset "utf-8";
=======
@charset "utf-8";

/**** 헤더 ****/
header .header-main{
    position: fixed;
    top: 0;
    z-index: 999;
    width:100%;
    height: 4rem;
  }
  header .header-main .header-wrapper{
    width: 100%;
    justify-content: space-between;
    margin: 0 var(--spacing-xlg);
  }
  .logo-warpper{
    display: flex;
    font-family: var(--font-title-kr);
    font-size: 20px;
  }
  header .header-wrapper .logo{
    background: url(../asset/image/logo-black.png) no-repeat 0 50% / contain;
    text-indent: -9999px;
    display: block;
    width: 32px;
    aspect-ratio: 1/1;
    transition: all 0.5s;
    color: #2d2d2d;
  }
  header .header-wrapper .logo:hover{
    opacity: 0.4;
  }
  header .global-navigation-bar li{
    margin-left: 3rem;
    display: block;
    font-family: 'KoPub Batang';
    text-transform: uppercase;
    position:relative;
  } 
  header .header-main .header-wrapper .global-navigation-bar a:hover{
    text-decoration: underline;
  }

  /**** info ****/
  .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--spacing-xlg);
  }
.info .info-txt-wrapper{
    margin: 0 2rem;
    align-self: center;
    word-break: keep-all;
}

.info .info-txt-wrapper li{
    margin: 1.6rem 0;
}

.info .info-txt-wrapper li h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1rem;
}

section{    
    margin: var(--spacing-xlg);
    word-break: keep-all;
}
>>>>>>> aff7a33beff36b9aa51fe76e40259c595a9486b0
