@charset "utf-8";

/**** 공통 스타일 common style : 나중에 옮길 것 ****/
.project-title{
  font-weight: bold;
  font-size: 32px;
  margin-top: var(--spacing-xlg);
  margin-bottom: 2rem;

}

.rounded{
  border: 1px solid var(--color-black);
  padding: 4px 10px;
  border-radius: 1rem;
  margin: 0 2px;
}

.rounded-fill{
  background: var(--color-black);
  color: var(--color-white);
  padding: 4px 10px;
  border-radius: 1rem;
  border: 1px solid var(--color-black);
  margin: 0 2px;
}


section{    

  word-break: keep-all;
  line-height: 1.3;
  letter-spacing: -1px;
}
.layout{
  margin: var(--spacing-xlg);
}

/**** 헤더 ****/
header .header-main{
    position: fixed;
    top: 0;
    z-index: 999;
    width:100%;
    height: 4rem;
  }
  header .header-main .header-wrapper{
    width: 100%;
    justify-content: space-between;
    margin: 0 var(--spacing-xlg);
  }
  .logo-warpper{
    display: flex;
    font-family: var(--font-title-kr);
    font-size: 20px;
  }
  header .header-wrapper .logo{
    background: url(../asset/image/logo-black.png) no-repeat 0 50% / contain;
    text-indent: -9999px;
    display: block;
    width: 32px;
    aspect-ratio: 1/1;
    transition: all 0.5s;
    color: #2d2d2d;
  }
  header .header-wrapper .logo:hover{
    opacity: 0.4;
  }
  header .global-navigation-bar li{
    margin-left: 3rem;
    display: block;
    font-family: 'KoPub Batang';
    text-transform: uppercase;
    position:relative;
  } 
  header .header-main .header-wrapper .global-navigation-bar a:hover{
    text-decoration: underline;
  }
  /**** info ****/
  .info{
    display: flex;
    margin: 5rem var(--spacing-xlg);
  }
  .info video{
    object-fit: contain;
    min-width: 500px;
    max-width: 700px;
  }
  .info .info-txt-wrapper{
    align-self: center;
    flex-flow: column wrap;
    justify-content: space-between;
    word-break: keep-all;
    background: #fff;
    line-height: 1.5;
}
.info .info-txt-wrapper li{
    padding: 1.6rem;
    border-bottom: 1px solid rgba(136, 136, 136,0.2);
    width: 100%;
}
.info .info-txt-wrapper li h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.info .info-txt-wrapper li:nth-last-child(1) p{
  color: #a9a9a9;
  font-size: 1rem;
}

/* info - MEDIA QUERIES */
@media (max-width: 1400px){
  .info {
  font-size: 80%;
}
.info .info-txt-wrapper #wire {
  display: none;
}

@media (max-width: 1200px){
  .info .info-txt-wrapper #research{
    display: none;
  }

  .info{
    flex-direction: column
  }
}
}


/**** overview ****/
.overview p{
  line-height: 1.5;
}

/**** goal ****/
.goal .goal-txt-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 2rem;
  margin-top: 4rem;
}

.goal .goal-txt-wrapper p{
  width: 100%;
  background: var(--color-black);
  color: var(--color-white);
  padding: 32px 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-black);
}

.process img{ 
  margin-top: 4rem;
}

.goal .goal-txt-wrapper p:hover{
  background: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-black);
} 


/**** problem ****/

.problem-text-wrapper{
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: var(--color-black);
  color: var(--color-white);
  width: 31.25rem; /* 500px;*/ aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 5rem auto;
}
.problem-text-wrapper h3{
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 3rem;
}
.problem-text-wrapper li{
  line-height: 2.2;
  list-style: square;
}

.problem-container{
  position: relative;
}
.problem-img{
  position: absolute;
  bottom: 0;
  right: 8%;
}
.problem-img img{
  margin: 0 4px;
  width: 200px;
}


/* MEDIA QUERIES */

@media (max-width: 1200px) { 
  .problem-img {
    display: none;
  }
  /* .problem-container .problem-text-wrapper{
    width: 450px;
    height: 450px;
    left: 30%;
  }
  .problem-img {
      width: 200px;
    }
} */

}

/**** ux-vision ****/

.ux-vision{
  height: 100vh;
  background: var(--color-black);
  color: var(--color-white);
  padding: 2rem var(--spacing-xlg) 0;
  position: relative;

}

.ux-vision p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
/**** as-is to-be ****/

.asis-tobe{
  height: 100vh;
  background: var(--color-black);
  color: var(--color-white);
  padding: 0 var(--spacing-xlg);
  position: relative;
}

.asis-tobe h2{
  margin-top: 0;
}

.asis-tobe img{
  object-fit: contain;
  height: 80%;
}

/* ui-style-guide */
.ui-style-guide .ui-style-guide-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  align-items: center;
  padding-bottom:4rem;
}

.ui-style-guide .ui-style-guide-container .color, .font{
  padding-bottom:4rem;
}

.img-none{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.ui-style-guide a{
  background: url(./image/style-guide-button.svg);
  width: 659px; height: 55px;
  display: block;
  margin:1rem auto;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) { 
  .ui-style-guide .ui-style-guide-container{
    display:flex;
    flex-flow: column;
  }
}

/**** demo ****/
.demo .demo-navigation-menu{
  display: flex;
  margin: 1rem 0 42px;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);

}

.demo .demo-navigation-menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-right: 1px solid var(--color-black);
  width: calc(100% / 6);

}
.demo .demo-navigation-menu li:nth-last-child(1){
  border: none;
}

.demo .demo-navigation-menu li:hover{
  background: var(--color-black);
  color: var(--color-white);
  font-weight: bold;
}
.demo .demo-img-wrapper img{
  width: 80%;
}
/**** more view ****/

.moreView .moreView-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 2rem;
  margin-top: 4rem;
}

.moreView .moreView-container .moreView-contents{
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-transform: capitalize;
  background: var(--color-black);
  color: var(--color-white);
  aspect-ratio: 1/1;
}

.moreView .moreView-container .moreView-contents a{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%; width: 100%;
}
.moreView .moreView-container .moreView-contents a:hover{
  background: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-black);
}