@charset "utf-8";


/*  스크롤바 모양 추가하기
html::-webkit-scrollbar-track{
} */

html{
  background: var(--bg-light);
  color: var(--color-black);
}

::selection {
  background: var(--color-black);
  color: var(--bg-light);
}

::-moz-selection {
  background: #d9d8d5;
}

/* scrollbar */
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-thumb{
  background: var(--color-black);
}
html::-webkit-scrollbar-track{
  background: var(--bg-light);
}

.noise {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-image: url('../image/noise.gif');
  pointer-events: none;
  visibility: hidden;
}

/* global style */
.flex-wrapper{
  display: flex;
  align-items: center; 
}
.grid-container{
  display: grid;
}

.mainTitle-en{
  font-family: 'Goia Display';
  text-transform: capitalize;
  font-size: 7.292vw;
  letter-spacing: -0.2rem;
  
}


/* 변수 */
:root{

  /* 폰트 */
  --font-title-en: 'Goia Display', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --font-title-kr: 'Gowun Dodum', 바탕, serif;
  --font-main-kr: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  /* 여백 */
  --spacing-xlg: 11.667vw;

  /* 폰트 사이즈 */
  /* 
  --font-lg: 1.5rem;
  --font-xlg: 2.5rem; */

  --font-md: 1.125rem; /* 18px */
  --font-desc: 1.375rem; /* 22px */
  --font-lg: 3.229vw; /* 60px */
  --font-xlg: 5.25vw; /* 100px */
  --font-xxlg: 7.292vw; /* 140px */

  /* 배경색 */

  --bg-light: #eeeeee;

  /* 글자색 */
  --color-white: #fff;
  --color-black: #2d2d2d;

  /* 주요 색상 */
  --color-project1-primary:#E4EFFF;

  /* 그레이스케일 추가 예정
    --bg-gray-light: #e9ecef;
    --bg-gray-dark: #adb5bd;
   */

}

body{
  font-family: var(--font-main-kr);
  font-weight: 400;
  font-size: var(--font-md);
}


/* 마우스 커서 */
