@charset "utf-8";

html{
  background: var(--bg-light);
  color: var(--color-black);
}

::selection {
  background: var(--color-black);
  color: var(--bg-light);
}

::-moz-selection {
  background: #d9d8d5;
}

/* scrollbar */
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-thumb{
  background: var(--color-black);
}
html::-webkit-scrollbar-track{
  background: var(--bg-light);
}

.noise {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-image: url('../image/noise.gif');
  pointer-events: none;
  visibility: hidden;
}

.ball {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--color-black); color: var(--bg-light);
  position: fixed;
  pointer-events: none; 
  z-index: 9999;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;

  display: grid; 
  place-items: center; 
  
  top: 0;
  left: 0;
}

.flex-wrapper{
  display: flex;
  align-items: center; 
}
.grid-container{
  display: grid;
}

.mainTitle-en{
  font-family: 'Goia Display';
  text-transform: capitalize;
  font-size: 7.292vw;
  letter-spacing: -0.2rem;
  
}

.project-title{
  font-weight: bold;
  font-size: 32px;
  margin-top: var(--spacing-xlg);
  margin-bottom: 2rem;

}

.rounded{
  border: 1px solid var(--color-black);
  padding: 4px 10px;
  border-radius: 1rem;
  margin: 0 2px;
}

.rounded-fill{
  background: var(--color-black);
  color: var(--color-white);
  padding: 4px 10px;
  border-radius: 1rem;
  border: 1px solid var(--color-black);
  margin: 0 2px;
}

section{    
  word-break: keep-all;
  line-height: 1.3;
  letter-spacing: -1px;
}

.layout{
  margin: var(--spacing-xlg);
}


/* 변수 */
:root{

  /* 폰트 */
  --font-title-en: 'Goia Display', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --font-title-kr: 'Gowun Dodum', 바탕, serif;
  --font-main-kr: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  /* 여백 */
  --spacing-xlg: 11.667vw;

  /* 폰트 사이즈 */
  /* 
  --font-lg: 1.5rem;
  --font-xlg: 2.5rem; */

  --font-md: 1.125rem; /* 18px */
  --font-desc: 1.375rem; /* 22px */
  --font-lg: 3.229vw; /* 60px */
  --font-xlg: 5.25vw; /* 100px */
  --font-xxlg: 7.292vw; /* 140px */

  /* 배경색 */

  --bg-light: #eeeeee;

  /* 글자색 */
  --color-white: #fff;
  --color-black: #2d2d2d;

  /* 주요 색상 */
  --color-project1-primary:#E4EFFF;

}

body{
  font-family: var(--font-main-kr);
  font-weight: 400;
  font-size: var(--font-md);
}