@charset "utf-8";

/* Index */
/* Goia Display - Bold */
@font-face {
	font-family: 'Goia Display';
	src: url('../font/Goia_Display_Bold.woff2');
}

/* KoPub Batang - light */
@font-face {
	font-family: 'KoPub Batang';
	src: url('../font/KoPub\ Batang\ Light.woff2');
	font-weight:300;
}
/* KoPub Batang - Regular */
@font-face {
	font-family: 'KoPub Batang';
	src: url('../font/KoPub\ Batang\ Bold.woff2');
	font-weight:400;
}

/* Gowun Dodum - Regular	 */
@font-face {
	font-family: 'Gowun Dodum';
	src: url('../font/GowunDodum-Regular.woff2');
	font-weight:400;
}


/* pretendard - Regular */
@font-face {
	font-family: 'Pretendard';
	src: url('../font/Pretendard-Regular.woff2') format('woff2');
	font-weight:400;
}

/* pretendard - Bold */
@font-face {
	font-family: 'Pretendard';
	src: url('../font/Pretendard-Bold.woff2') format('woff2');
	font-weight:600;
}


/* Project1 - spoqaHanSan.css */
@font-face {
  font-family: 'SpoqaHanSans';
  src: local('Spoqa Han Sans Neo Bold'), 
    url(../font/SpoqaHanSansNeo-Bold.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'SpoqaHanSans';
  src: local('Spoqa Han Sans Neo Medium'), 
    url(../font/SpoqaHanSansNeo-Medium.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'SpoqaHanSans';
  src: local('Spoqa Han Sans Neo Regular'), 
    url(../font/SpoqaHanSansNeo-Regular.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'SpoqaHanSans';
  src: local('Spoqa Han Sans Neo Light'), 
    url(../font/SpoqaHanSansNeo-Light.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: 'SpoqaHanSans';
  src: local('Spoqa Han Sans Neo Thin'), 
    url(../font/SpoqaHanSansNeo-Thin.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}