@charset "utf-8";

body{
  position: relative;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.08);
}
.mobileContainer{
  width: 390px;
  position: absolute;
  
}

/* header */
header{
  height: 72px;
  background: var(--white);
  padding: 20px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  width: 390px;
  z-index: 9999;
}
.headerNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo{
  display: inline-block;
  background: url(./image/logo.svg) 50% 50%  / contain no-repeat;
  background-repeat: no-repeat;
  width: 185px;
  height: 33px;
  text-indent: -9999px;
}



.burgerBar {
  position: relative;
  display: block;
  width: 35px; 
  background-color: #000; 
  margin: 8px 0; 
  transition: all 0.3s ease;
  height: 2px;
}
.language{
  background: var(--black);
  color: var(--white);
  border-radius: 21px;
  padding: 10px 24px;
  text-align: center;
}




/* home */
.home {
  position: relative;
  width: 100%;
  height: 100vh; 
}
.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}
.homeContainer {
  background: linear-gradient(to top, rgba(0, 0, 0, 1.0 ) 38%, rgba(0, 0, 0, 0) 100%);

  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.homeTitle{
  padding: 0 21px;
  display: flex;
  flex-flow: column;
  gap: 44px;
  margin-bottom: 74px;
}
.homeTitle h1 {
  font-size: 35px;
  font-family: var(--font-en);
  text-transform: uppercase;
  line-height: 105%;
  color: var(--white);
}
.homeTitle p {
  font-size: 14px;
  font-family: var(--font-kr);
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

.booking{
  display: flex;
  font-family: var(--font-kr);
  gap: 28px;
}
.primaryBtn{
  display: flex;
  font-weight: 500;
  align-items: center;
}
.btnLabelRound {
  background-color: #000;
  display: inline-block;
  color: var(--black);
  background: var(--white);

  padding: 8px 10px;
  border-radius: 21px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btnIcon{
  background: var(--white);
  display: block;
  width: 32px; height: 32px;
  border-radius: 100%;
}
.subBtn { 
  color: white; 
  display: flex;
  align-items: center;
}

.btnLabel{
  position: relative;
  font-size: 16px;
}

.btnLabel::after {
  content: "→"; /* 오른쪽 화살표 */
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%); 
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--black); 
}

/* sectionTitle */
.title{
  font-family: var(--font-title);
  font-size: 28px;
  letter-spacing: -0.2px;
  margin-bottom: 21px;
}

.title::before{
  content: "";
  width: 0.25em;
  min-width: 8px;
  height: 0.25em;
  min-height: 8px;
  margin-right: 12px;
  background-color: var(--primary-orange);
  display: inline-block;
  border-radius: 100%;
  transform: translateY(-50%);
}
.content{
  font-family: var(--font-kr);
  font-size: 1rem;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
.sectionTitle{
  padding: 74px 21px;
  background: var(--white);
}

.moreBtn {
  font-family: var(--font-kr);
  font-weight: 500;
  position: relative;
  font-size: 16px;
  color: #000; 
}

.moreBtn::after {
  content: "→"; /* 오른쪽 화살표 */
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%); 
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--white); 
}

/* poems */
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* 지구의밤 */