* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v48_751 {
  width: 348px;
  height: 350px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v48_752 {
  width: 348px;
  height: 350px;
  background: url("../images/v48_752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_753 {
  width: 348px;
  height: 84px;
  background: rgba(0,0,0,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 0px;
  overflow: hidden;
}
.v48_754 {
  width: 347px;
  color: url("../images/v48_754.png");
  position: absolute;
  top: 21px;
  left: 1px;
  font-family: Pretendard;
  font-weight: Medium;
  opacity: 1;
  text-align: center;
}
.v48_755 {
  width: 79px;
  height: 28px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 247px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v48_756 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 11px;
  font-family: Pretendard;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
