@charset "utf-8";

/**** menu ****/
.slide-menu {
  font-family: var(--font-en);
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 9999;
  background: var(--primary-yellow);
  padding: 60px 0;
  display: none;
} 
.menu-item-wrapper:not(:last-child){
  border-bottom: 2px solid #000;
}

.menu-item-wrapper:nth-child(1) .menu-item {padding-left: 20.521vw;}
.menu-item-wrapper:nth-child(2) .menu-item {padding-left: 10.417vw;}
.menu-item-wrapper:nth-child(3) .menu-item {padding-left: 28.021vw;}
.menu-item-wrapper:nth-child(4) .menu-item {padding-left: 16.094vw;}

.menu-title{
  font-size: 11.25rem;
}
.menu-item-wrapper{
  position: relative;
}
.menu-num{
  font-weight: 900;
  font-size: 1.625rem;
  position: absolute;
  top: 20%;
}
.menu-item-wrapper:nth-child(1) .menu-num{transform: translateX(40%);}
.menu-item-wrapper:nth-child(2) .menu-num{transform: translateX(40%);}
.menu-item-wrapper:nth-child(3) .menu-num{left: 23%;}
.menu-item-wrapper:nth-child(4) .menu-num{left: 11%;}

.global-menu-toggle{
  font-size: 1.75rem;
}
.toggle-close{
  position: absolute;
  right: 54px;
  top: 45px;
  z-index: 999;
}


/**** header ****/

header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#logo {
  display: inline-block;
  background: url(./image/kodak-logo.png) 50% 50% / contain;
  width: 64px;
  height: 55px;
  text-indent: -9999px;
}

.header-wrapper {
  width: 100%;
  justify-content: space-between;
  padding: 1.875rem 3.375rem;
  height: 120px;
}

/**** intro ****/
.intro h1 {
  font-family: var(--font-en);
  font-weight: 900;
  font-size: 11.25rem;
  text-align: center;
  z-index: 9;
  line-height: 95%;
}

.intro {
  overflow: hidden;
}

.intro-image-wrapper {
  position: relative;
  width: 100%;
  justify-content: center;
  margin-top: 130px;
}

.intro-image-wrapper img {
  width: fit-content;
}

.intro-image-wrapper img:nth-child(1) {
  z-index: 4;
  position: relative;
  margin-top: 120px;
}

.intro-image-wrapper img:nth-child(2) {
  z-index: 3;
  position: absolute;
  right: 30.469%;
}

.intro-image-wrapper img:nth-child(3) {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 31%;
}

.intro-image-wrapper img:nth-child(4) {
  z-index: 1;
  position: absolute;
  top: 6%;
  right: 33%;
}

.intro-bottom {
  position: relative;
  bottom: 40px;
  z-index: 9;
  user-select: none;
}

/**** marquee ****/
.marquee {
  background: #000;
  font-family: var(--font-en);
  font-weight: 600;
  font-size: 8.75rem;
  color: var(--white);
  text-transform: uppercase;
  overflow: hidden;
  user-select: none;
}

.marquee-arrow {
  color: var(--white);
  width: 110px;
}

.marquee-item::after {
  content: " ";
  background: url(./image/arrow-right-white.svg);
  display: inline-block;
  width: 110px;
  height: 110px;
  margin: 0 40px;
  transform: translate(10px, 10px);
}

.marquee-container {
  white-space: nowrap;
  padding: 10px 0;
}

.marquee-container:not(:nth-last-child(1)) {
  border-bottom: 2px solid var(--white);
}

/**** product ****/

.product {
  text-transform: uppercase;
  
}

.product-main-title {
  padding: 54px;
  padding-bottom: 0;
  transform: translateY(25%);
  user-select: none;
}

.product-main-slogan {
  font-family: var(--font-kr);
  font-size: 6rem;
  font-weight: 500;

}

.product-main-text {
  font-family: var(--font-en);
  font-size: 7.75rem;
  font-weight: 900;

}

.product-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 50px;
  border: 2px solid #000;
}

.product-item-left {
  border-right: 2px solid #000;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 68px 36px;
  font-family: var(--font-kr);
  font-size: 1.5rem;
  font-weight: 400;
  user-select: none;
}

.product-list {
  margin-top: 36px;
  line-height: 140%;
}

.product-title {
  font-size: 2.75rem;
  font-weight: 400;
}

.product-desc {
  line-height: 140%;
}

.era-left {
  background: var(--primary-red) url(./image/product-img1.png) no-repeat 50%/cover;
}

.retro-left {
  background: var(--primary-yellow) url(./image/product-img2.png) no-repeat 50%/cover;
}

.cartridge-left {
  background: var(--primary-skyblue) url(./image/product-img3.png) no-repeat 50%/contain;
}

/* product 오른쪽 */

.product-image-wrapper{
  border: 2px solid #000;
  overflow: hidden;
}

.product img {
  max-width: 540px;
  object-fit: fill;
}

.product-item-right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-item-right h3 {
  font-family: var(--font-en);
  font-weight: 600;
  font-size: 7.5rem;
}

.more-button {
  font-family: var(--font-en);
  font-weight: 600;
  font-size: 5.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  margin: 0 50px;
  border-radius: 100px;

}

.more-button::after {
  content: " ";
  background: url(./image/arrow-right-black.svg);
  display: inline-block;
  width: 110px;
  height: 110px;
  transform: translate(10px,5px);

  
}

/**** event ****/

.event-title {
  text-align: right;
}

.event-slogan {
  font-family: var(--font-kr);
  font-size: 6rem;
  font-weight: 500;
}

.event-text {
  font-family: var(--font-en);
  font-size: 7.75rem;
  font-weight: 900;
}

.event-icon {
  font-size: 2.5rem;
  font-family: var(--font-en);
  font-weight: 600;
  text-align: center;
  width: 300px;
  height: 300px;
  line-height: 300px;
  text-indent: -9999px;
  background: url(./image/star2.png) no-repeat 50% / cover;
  transform: translateY(20%);
}

.event-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  margin-top: 200px;
  z-index: 9;
  user-select: none;
}

/* swiper */

.swiper-slide {
  cursor: pointer;
}

.slider-section{
  transform: translateY(-18%);
  position: relative;
  z-index: 0;
}
.swiper img {
  max-width: 100%;
  object-fit: fill;
  aspect-ratio: 4/2;
  border-radius: 25px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--primary-yellow);
  background: var(--black);
    
}
.swiper-button-prev, .swiper-button-next{
  margin: 0 40px;
}
.swiper-pagination-bullet{
  background: var(--black);
}

/* marquee-small */

.marquee-s{
  background: var(--primary-yellow);
  overflow: hidden;
  margin-top: 72px;
  user-select: none;
}

.marquee-s-container{
  font-family: var(--font-en);
  font-weight: 600;
  font-size: 18px;
  line-height: 55px;
  display: flex;
  white-space: nowrap;
  margin: 0;
}
.marquee-s-item{
  text-align: center;
  margin: 0 90px;
}

/**** info ****/

.info{
  font-family: var(--font-en);
  font-weight: 300;
  font-size: 7.5rem;
  white-space: nowrap;
  overflow: hidden;
  padding: 40px 50px;
  background: var(--black);
}
.info-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  color: var(--white);
}
.info-image{
  height: 100%;
  border-radius: 60px;
  object-fit: cover;
  filter: grayscale(1);
  width: auto;
}
.info-image-wrapper{
  height: 114px;
  border-radius: 60px;
  border: 3px solid var(--primary-yellow);
  margin: 0 22px;
  width: auto;
}
.info-row-mix{
  display: flex;
}
.info-row-mix-text{
  display: flex;
  flex-flow: column;

  align-items: flex-end ;
  transform: translate(-16%,-6%);
  background: transparent;
}
.info-row-mix-image{
  position: relative;
  height: auto;
  padding: 10px 0;
}
.info-row-mix-image img{
  width: auto;
}
.info-arrow{
  position: absolute;
  bottom: 0;
  transform: translate(20%,20%);
}

.info-tag{
  outline: 3px solid var(--primary-yellow);
  border-radius: 60px;
  font-size: 3.75rem;
  font-weight: 400;
  margin:10px 22px;
}
.info-tag:nth-child(1){
  padding: 20px 134px;
}
.info-tag:nth-child(2){
  padding: 20px 186px;
}
.info-tag:nth-child(3){
  padding: 20px 106px;
}
.info-row6{
  font-weight: 900;
  font-weight: 7.5rem;
  text-transform: uppercase;
}


/**** footer ****/
footer{
  background: var(--black);
  color: var(--primary-yellow);
  font-family: var(--font-kr);
  padding: 70px 50px;
  line-height: 160%;
  position: relative;
}
.footer-top{
  justify-content: space-between;
  margin-bottom: 80px;
  align-items: flex-start;
} 
.footer-info, .footer-menu-list{
  gap: 100px;
  align-items: flex-start;
}
.footer-bottom{
  flex-flow: column;
}
.footer-title, .footer-support{
  font-size: 1.125rem;
}
.footer-title{
  margin-bottom: 22px;
}
.cs-tell{
  font-size: 2.5rem;
  font-weight: 900;
}
.footer-bottom {
  display: flex;
  gap: 40px;
}
.footer-address{
  flex-wrap: wrap;
  width: 55%;
}
.aster{
  width: 160px;
  position: absolute;
  right: 50px;
  bottom: 70px;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* hover 이벤트 */

.menu-item:hover {
  font-size: 11.25rem;
  font-weight: 900;
  transition: font-weight 0.28s cubic-bezier(.68,-.55,.27,1.55);
}

.more-button, .info-tag {
  transition: background 0.5s, color 0.5s; /* 기본 상태에서의 트랜지션 설정 */
}
.more-button:hover, .info-tag:hover {
  background: var(--primary-red);
  color: var(--white);
}
.more-button:hover::after {
  filter: invert(1);
  transition: filter 0.5s; /* 호버 시 필터 변화를 부드럽게 처리 */
}
.more-button::after, .info-tag::after {
  transition: filter 0.5s; /* 기본 상태에서도 필터의 트랜지션을 설정 */
}

.info-tag:hover{
  background: var(--primary-yellow);;
}

.marquee-item:hover{
  font-weight: 900;
}


.product-item-right img {
  transition: transform 0.3s cubic-bezier(.47, 0, .745, .715);
}
.product-item-right:hover img {
  transform: scale(1.15); 
}