@charset "utf-8";


.slide-menu{
  display: none;
}

/**** header ****/

header{
  /* position: fixed; */
  width: 100%;
  z-index: 9999;
}
#logo{
  display: inline-block;
  background: url(./image/kodak-logo.png) 50% 50% / contain;
  width: 64px; height: 55px;
  text-indent: -9999px;
}
.header-wrapper{
  width: 100%;
  justify-content: space-between;
  padding: 1.875rem 3.375rem;
  height: 120px;
}

/**** intro ****/
.intro h1{
  font-family: var(--font-en);
  font-weight: 900;
  font-size: 11.25rem;
  text-align: center;
  z-index: 9;
  line-height: 95%;
}

.intro{
  overflow: hidden;
}

.intro-image-wrapper{
  position: relative;
  width: 100%;
  justify-content: center;
}
.intro-image-wrapper img{
  width: fit-content;
}

.intro-image-wrapper img:nth-child(1){
  z-index: 4;
  position: relative;
  margin-top: 120px;
}
.intro-image-wrapper img:nth-child(2){
  z-index: 3;
  position: absolute;
  right: 30.469%;
}
.intro-image-wrapper img:nth-child(3){
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 31%;
}
.intro-image-wrapper img:nth-child(4){
  z-index: 1;
  position: absolute;
  top: 6%;
  right: 33%;
}

.intro-bottom{
  position: relative;
  bottom: 40px;
  z-index: 9;
}

/**** marquee ****/
.marquee{
  background: #000;
  font-family: var(--font-en);
  font-weight: 600;
  font-size: 8.75rem;
  color: var(--white);
  text-transform: uppercase;
}
.marquee-arrow{
  color: var(--white);
  width: 110px;
}
.marquee-item::after{
  content: " ";
  background: url(./image/arrow-right-white.svg);
  display: inline-block;
  width: 110px; height: 110px;
  margin: 0 40px;
  transform: translate(10px, 10px);
}
.marquee-container{
  white-space: nowrap;
  padding: 10px 0;
}
.marquee-container:not(:nth-last-child(1)) {
  border-bottom: 2px solid var(--white);
}

/**** product ****/

.product{
  text-transform: uppercase;
}

.product-main-title{
  padding: 54px;
  padding-bottom: 0;
  transform: translateY(25%);
}
.product-main-slogan{
  font-family: var(--font-kr);
  font-size: 6rem;
  font-weight: 500;
}
.product-main-text{
  font-family: var(--font-en);
  font-size: 7.75rem;
  font-weight: 900;
}
.product-item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 50px;
  border: 2px solid #000;
}

.product-item-left{
  border-right: 2px solid #000;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 68px 36px;
  font-family: var(--font-kr);
  font-size: 1.5rem;
  font-weight: 400;
}

.product-list{
  margin-top: 36px;
  line-height: 140%;
}

.product-title{
  font-size: 2.75rem;
  font-weight: 400; 
}

.product-desc{
  line-height: 140%;
}

.era-left{
  background: var(--primary-red) url(./image/product-img1.png) no-repeat 50%/cover;
}
.retro-left{
  background: var(--primary-yellow) url(./image/product-img2.png) no-repeat 50%/cover;
}
.cartridge-left{
  background: var(--primary-skyblue) url(./image/product-img3.png) no-repeat 50%/contain;
}

/* product 오른쪽 */
.product img{
  max-width: 540px;
  aspect-ratio: 1.10;
  outline: 2px solid #000;
}
.product-item-right{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.product-item-right h3{
  font-family: var(--font-en);
  font-weight: 600;
  font-size: 7.5rem;
}
.more-button{
  font-family: var(--font-en);
  font-weight: 600;
  font-size: 5.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  margin: 0 50px;
  border-radius: 100px;
}

.more-button::after{
  content: " ";
  background: url(./image/arrow-right-black.svg);
  color: #000;
  display: inline-block;
  width: 110px; height: 110px;
  transform: translate(10px, 10px);
}

/**** event ****/

.event-title{
  text-align: right;
}
.event-slogan{
  font-family: var(--font-kr);
  font-size: 6rem;
  font-weight: 500;
}
.event-text{
  font-family: var(--font-en);
  font-size: 7.75rem;
  font-weight: 900;
}

.event-icon{
  font-size: 2.5rem;
  font-family: var(--font-en);
  font-weight: 600;
  text-align: center;
  width: 300px; height: 300px;
  line-height: 300px;
  background: url(./image/star.svg) no-repeat;
  transform: translateY(20%);
  z-index: 9;
}

.event-top{
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  /* background: sandybrown; */
  margin-top: 200px;
}

/**** swiper ****/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* 
  .swiper-slide {
    width: 60%;
  }

  .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  } */