@charset "utf-8";


/* 공통 스타일 */

.header-container {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: var(--background);
    backdrop-filter: none;
    box-shadow: var(--gray1) 0px 8px 24px -24px;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 60px;

}

.header-container.scrolled {
    background: none;
    backdrop-filter: blur(40px); /* 스크롤 내릴 때 블러 적용 */
}

.myPage {
    display: none;
    font-size: 0.875rem;
    color: var(--gray1);
}

.myPage li:hover a{
    color: var(--black);
    transition: 0.4s;
    }


.global-navigation-bar {
    display: none;
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    flex-direction: column;
    z-index: 10;

}

.global-navigation-bar.active {
    display: flex;
}

.menu-item {
    font-weight: bold;
}

.sub-global-navigation-bar {
    display: none;
    position: absolute;
    top: 100%;
    color: var(--gray2);
}

.sub-global-navigation-bar li:hover a {
    color: var(--gray1);
    transition: 0.4s;
}

.global-navigation-bar li i {
    margin-left: 0.25rem;
}

#menuToggle a i {
    font-size: 24px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    background: url(./image/logox2.png) no-repeat center / contain;
    width: 150px;
    height: 50px;
}

.logo h1 {
    text-indent: -9999px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.mobile-myPage {
    display: flex;
    justify-content: center;
    padding: var(--spacing-m);
    font-size: 90%;
    color: var(--gray1);
}

.mobile-myPage li {
    padding: 0 var(--spacing-m);
}

.mobile-myPage li:hover a {
    color: var(--black);
    transition: 0.4s;
}

.mobile-myPage li a i {
    padding-right: 0.25rem;
}


/****** 메인 ******/
/**** 슬라이더 *****/

.main-slide {
    height: 60vh;
}

.swiper-slide {
    margin-top: 50px;
    position: relative;
}

.main-slide .bg1 {
    background: linear-gradient(to left, rgba(117, 117, 117, 0.5), rgba(255, 255, 255, 0.1)),
        /* 투명한 그라데이션 */
        url(./image/perfume.png) no-repeat 45% / cover;
}

.main-slide .bg2 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.1)), url(./image/Sachet.png) no-repeat 55% / cover;
}

.main-slide .bg3 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.1)), url(./image/giftset.png) no-repeat 45% / cover;
}

.main-slide .swiper-wrapper .bg-box {
    width: 80%;
    max-width: 330px;
    height: 40%;
    max-height: 118px;
    position: absolute;

    top: 35%;
    transform: translate(-50%, -50%);
    right: 0;
    padding: 0 2.5rem;

    color: var(--white);
    text-align: right;
    word-break: keep-all;
}


.main-slide .swiper-wrapper .bg-box .title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
}

.main-slide .swiper-wrapper .bg-box .text{
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 2.75rem;
    line-height: 150%;
    letter-spacing: -0.5px;

}

.main-slide .swiper-wrapper .bg-box a {
    max-width: 400px;
    background: var(--black);
    color: var(--white);
    border-radius: 2rem;
    padding: 0.625rem 1.5625rem;
    font-size: 0.875rem;
}

.main-slide .swiper-wrapper .bg-box a:hover{
    transition: all 5s ease-in;
    background: #131313;
}

.main-slide .swiper-button-prev,
.main-slide .swiper-button-next {
    margin: 0.8rem;
}

.main-slide .swiper-button-prev:after,
.main-slide .swiper-button-next:after {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    display: none;
}

.main-slide:hover .swiper-button-prev:after,
.main-slide:hover .swiper-button-next:after {
    display: block;
}

/**** 상품 소개 페이지 ****/

/* 시그니처 */
.signature-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--black);
}

.signature-list .signature-item:nth-child(2n-1) {
    border-right: 1px solid var(--black);
}

.signature-list .signature-item:nth-child(2n) {
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.signature-list .signature-item:nth-child(3),
.signature-list .signature-item:nth-child(4) {
    border-top: 1px solid var(--black);
}

.signature-list .signature-item .description {
    margin: var(--spacing-l) var(--spacing-m) 70px;
}

.signature-list .signature-item .description h3 {
    font-weight: 500;
    margin-bottom: 8px;
}

.signature-list .signature-item .description span {
    font-size: 0.875rem;
    color: var(--gray1);
}


.komfortable {
    grid-template-columns: none;
}

.komfortable-list {
    grid-template-columns: 1fr 1fr 1fr;
}

.peaceKeeper-video-wrapper {
    width: 100%;
    aspect-ratio: 4 / 5;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.peaceKeeper-video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}




/**** 콤포터블 ****/

section .komfortable {
    display: grid;
}
.komfortable-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--black);
}

.komfortable-item:nth-last-child(1) {
    display: none;
}


.komfortable-list .komfortable-item:nth-child(2n-1) {
    border-right: 1px solid var(--black);
}

.komfortable-list .komfortable-item:nth-child(2n) {
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.komfortable-list .komfortable-item .description {
    margin: var(--spacing-l) var(--spacing-m) 4.375rem;
}

.komfortable-list .komfortable-item .description h3 {
    font-weight: 500;
    margin-bottom: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.komfortable-list .komfortable-item .description span {
    font-size: 0.875rem;
    color: var(--gray1);
}

.slogan-container {
    position: relative;
    order: 3;
    overflow: hidden;
}

.slogan-container img {
    filter: brightness(50%);
    width: 100%;
}

.slogan-container .slogan {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    width: 100%;
    padding: 2.625rem;
    font-weight: 300;
    word-break: keep-all;

}

.slogan-container .slogan span {
    display: block;
    margin-bottom: 1.625rem;
}

.slogan-container .slogan p {
    margin-bottom: var(--spacing-l);
    line-height: 150%;
}

.slogan-container .slogan p:nth-last-child(1) {
    margin: 0;
}

/* journal */
.journal {
    order: 1;

}

.identity-menu .thumbnail {
    aspect-ratio: 3/2;
    overflow: hidden;
}

.identity-menu .thumbnail img {
    filter: contrast(80%);
}

.identity-menu .description {
    margin: var(--spacing-xl) var(--spacing-m);
}

.identity-menu .description h3 {
    font-weight: bold;
    font-size: var(--spacing-l);
    margin-bottom: 1.125rem;
    cursor: pointer;
}

.identity-menu .description .caption {
    color: var(--gray1);
}

.identity-menu .description .caption span {
    display: inline-block;
    font-weight: 500;
    margin: 0 0.25rem var(--spacing-m) 0;
}

.identity-menu .description .caption p {
    line-height: 160%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0.75rem;
    letter-spacing: -0.5px;
    max-height: 4.7988rem;
    max-height: 76.7808px;
}

.identity-menu .description .caption a {
    display: block;
    width: 100%;
    text-align: right;
    text-decoration: underline;
    font-size: 0.875rem;
    color: var(--gray2);
}


.identity-menu .description .caption a:hover {
    color: var(--gray3);
    transition: 0.4s;
}

.description i {
    padding-left: var(--spacing-s);
}

/* stores */
.stores {
    order: 2;
}

.identity-menu img {
    cursor: auto;
}

/* 푸터 */
footer {
    display: flex;
    flex-flow: column;
    font-size: 0.875rem;
    color: var(--gray1);
}

footer {
    border-top: 2px solid var(--black);
    padding: 2.625rem var(--spacing-m);
}

.footer-left .footer-nav li {
    padding-right: var(--spacing-s);
    font-weight: bold;
    margin-bottom: var(--spacing-m);
    color: var(--black);
}

.footer-text-wrapper {
    flex-wrap: wrap;
    line-height: 150%;
}

.footer-left .footer-text-wrapper span {
    margin-right: 8px;
}

.footer-left .footer-text-wrapper {
    flex-flow: wrap;
}

.footer-left {
    margin-bottom: 2.625rem;
}

.instargram-pc {
    display: none;
}

.footer-right {
    width: 100%;
    justify-content: space-between;
}

.footer-right .business span {
    margin-right: 0.25rem;
}