@charset "utf-8";

/* 공통 스타일 */

/* .main-title{} 타이틀 */

html{
    background: #FDFBF4;
    font-family: 'SpoqaHanSans';
}

.flex-wrapper{
    display: flex;
    align-items: center;
}

.grid-wrapper{
    display: grid;
    align-items: center;
}

/**** 헤더 ****/

/* 기본 스타일링 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 1000;
    background: #FDFBF4;
    width: 100%;
}

/* 로고 스타일 */
.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    background: url(./image/logo1.png) no-repeat center / contain;
    width: 150px; /* 로고 너비 */
    height: 50px; /* 로고 높이 */
}

.logo h1 {
    text-indent: -9999px; /* 텍스트 숨기기 */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* 마이페이지 스타일 */
.myPage {
    display: flex;
    gap: 20px;
}

/* 마이페이지 항목 스타일 */
.myPage > li {
    padding: 10px;
}

.global-navigation-bar{
    display: none;
}


/****** 메인 ******/

/**** 슬라이더 *****/

section .main-slide {
    height: 80vh;
}
.swiper-slide{
    margin-top: 50px;
}

section .main-slide .bg1{background: url(./image/perfume.png) no-repeat 45% / cover;}
section .main-slide .bg2{background: url(./image/Sachet.png) no-repeat 50% / cover;}
section .main-slide .bg3{background: url(./image/giftset.png) no-repeat 45% / cover;}

.main-slide .swiper-wrapper .bg-box {
    background-color: rgba(255,255,255,0.3);
    /* backdrop-filter: blur(3px); */
    width: 80%;
    max-width: 360px;
    height: 40%;
    position: absolute;

    top: 40%;
    padding: 40px;

    word-break: keep-all;
  }
  

  .main-slide .swiper-wrapper .bg-box .title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1.625rem;
  }
  .main-slide .swiper-wrapper .bg-box p {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;

  }
  .main-slide .swiper-wrapper .bg-box a {
    max-width: 400px;
    background: #000; color: #fff;
    border-radius: 32px;    
    padding: 4px 15px;
}
   
  .main-slide .swiper-button-prev, .main-slide .swiper-button-next {
    margin: 0.8rem;
  }

  .main-slide  .swiper-button-prev:after, 
.main-slide .swiper-button-next:after {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    display: none;
}

.main-slide:hover .swiper-button-prev:after {
    display: block;
}
.main-slide:hover .swiper-button-next:after {
    display: block;
}


/**** 상품 소개 페이지 ****/

/* 시그니처 */
/*
section .signature{
    grid-template-columns: 1fr 3fr;
}
section .signature-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


section .peaceKeeper{
    grid-template-columns: 1fr 2fr 1fr;
}


section .komfortable{
    grid-template-columns: 3fr 1fr;
}
section .komfortable-list{
    grid-template-columns: 1fr 1fr 1fr;
}


section .identity{
    grid-template-columns: repeat(4, 1fr);
}
    */
  
.blank{
    height: 2rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
/* 푸터 */