@charset "utf-8";

/* 하위 메뉴 초기 상태 */
.menu-item .sub-global-navigation-bar {
  max-height: 0; /* 숨김 상태 */
  overflow: hidden; /* 내용 잘림 */
  transition: max-height 0.3s ease-out; /* 애니메이션 효과 */
}

/* 전체 메뉴 초기 상태 */
header .global-navigation-bar {
  max-height: 0; /* 숨김 상태 */
  overflow: hidden; /* 내용 잘림 */
  transition: max-height 0.3s ease-out; /* 애니메이션 효과 */
}

/* 메뉴 활성화 시 */
header .global-navigation-bar.active,
.menu-item .sub-global-navigation-bar.active {
  max-height: 500px; /* 충분히 큰 값 */
}
